<!doctype html>
<html lang="en">
<head>
  <title>Un gardien pres de chez soi | Edition de profil</title>
  <meta charset="utf-8">
</head>

<body>
  <div class="preloader">
  </div>
  <section class="p-0 d-flex align-items-center">
    <div class="container-fluid">
      <div class="row">
        <!-- left -->
        <div class="col-12 col-md-5 col-lg-4 d-md-flex align-items-center bg-grad h-sm-110-vh">
          <div class="w-100 p-3 p-lg-5 all-text-white">
            <div class="justify-content-center align-self-center">
              <%= link_to root_path do %>
              <div class="logo-auth; m-4">
                <%= image_tag "logos/LogoGardien.png", :style => "height: 55px;"%>
                <%= image_tag "logos/TitreGardien.png", :style => "height: 55px;"%>
              </div>
              <%end%>
            </div>
            <h3 class="font-weight-light">Connectez-vous pour gérer votre profil de pet sitter</h3>
            <ul class="list-group list-group-borderless mt-4">
              <li class="list-group-item text-white"><i class="fa fa-check"></i>Gérer votre profil</li>
              <li class="list-group-item text-white"><i class="fa fa-check"></i>Voir vos demandes de garde d'animaux</li>
              <li class="list-group-item text-white"><i class="fa fa-check"></i>Et valider vos demandes</li>
            </ul>
          </div>
        </div>
        <!-- Right -->
        <div class="col-12 col-md-7 col-xl-8 mx-auto my-5">
          <div class="row h-100">
            <div class="col-12 col-md-10 col-lg-5 text-left mx-auto d-flex align-items-center">
              <div class="w-100">
                <div class="bdi">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <h1 class="h3 mb-3 font-weight-normal text-center">Edition du profil</h1>
                  <%= devise_error_messages! %>
                  <div class="form-group">
                    <%= f.label :first_name, "Nom de famille" %>
                    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control", placeholder: "Entrer votre nom" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :last_name, "Prénom" %>
                    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control", placeholder: "Entrer votre prénom" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :describe, "Description" %>
                    <%= f.text_field :describe, autofocus: true, autocomplete: "descrition", class: "form-control", placeholder: "Entrer votre description" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :age, "Age" %>
                    <%= f.number_field :age, in: 15...100, autofocus: true, autocomplete: "age", class: "form-control", placeholder: "Entrer votre age" %>
                  </div>    
                  <div class="form-group">
                    <%= f.label :phone_number, "Numéro de téléphone" %>
                    <%= f.phone_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control", placeholder: "Entrer votre numéro de téléphone" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :garden, "Avez-vous un jardin ?" %><br/>
                    <%= f.select :garden,[["Oui", true], ["Non", false]], {}, { :class => 'form-control form-control-lg' }%>
                  </div> 
                    <div class="form-group">
                    <%= f.label :living_space, "De combien d'espace habitable disposez vous ?" %>
                    <%= f.number_field :living_space, in: 25...1000, autofocus: true, autocomplete: "living_space", class: "form-control", placeholder: "Donner votre surface en m2" %>
                  </div>
                    <div class="form-group">
                    <%= f.label :price, "Quel est votre prix ?" %>
                    <%= f.number_field :price, in: 1...1000, autofocus: true, autocomplete: "price", class: "form-control", placeholder: "Entrer le prix de votre prestation" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :email, "Email" %>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" , placeholder: "Entrer votre email" %>
                  </div>
                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>
                  <div class="form-group">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> caractères minimum)</em>
                    <% end %>
                    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" , placeholder: "Entrer votre mot de passe"%>
                  </div>
                  <div class="form-group">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" , placeholder: "Confirmer votre mot de passe" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" , placeholder: "Entrer votre mot de passe actuel" %>
                  </div>
                  <div class="actions mt-5">
                    <%= f.submit "Mettre à jour", class: "btn btn-lg btn-primary btn-block" %>
                  </div>
                  <% end %>
                <h1 class="h3 mt-3 mb-3 font-weight-normal text-center">Supprimer votre compte</h1>

                <center><p>Vous souhaitez nous quitter? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes-vous sûr?" }, method: :delete, class: "btn btn-lg btn-danger btn-block" %></p></center>

                <%= link_to "Page précédente", :back %> <br/>
                <%= link_to "Page d'accueil", root_path %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>