<!doctype html>
<html lang="en">
<head>
  <title>Un gardien pres de chez soi | Inscription</title>
  <meta charset="utf-8">
</head>

<body>
  <div class="preloader">
  </div>
  <section class ="p-0 section_div">
      <div class="row devise_div" >
        <!-- left -->
            <div class="col-12 col-lg-5 text-left mx-auto ">
              <div class="w-100">

                <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-signin mt-3" } do |f| %>
                  <h1 class="h3 mb-3 font-weight-normal text-center">Inscription</h1>
                  <%= devise_error_messages! %>
                  <div class="col-xs-6 d-inline-block">
                      <div class="form-group">
                        <%= f.label :first_name, "Nom de famille" %>
                        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control", placeholder: "Entrer votre nom" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :last_name, "Prénom" %>
                        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control", placeholder: "Entrer votre prénom" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :describe, "Description" %>
                        <%= f.text_field :describe, autofocus: true, autocomplete: "descrition", class: "form-control", placeholder: "Entrer votre description" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :age, "Age" %>
                        <%= f.number_field :age, in: 15...100, autofocus: true, autocomplete: "age", class: "form-control", placeholder: "Entrer votre age" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :phone_number, "Numéro de téléphone" %>
                        <%= f.phone_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control", placeholder: "Entrer votre numéro de téléphone" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :garden, "Avez-vous un jardin ?" %>
                        <%= f.select :garden,[["Oui", true], ["Non", false]], {}, { :class => 'form-control form-control-lg' }%>
                      </div>
                      </div>

                  <div class="col-xs-6 d-inline-block">
                    <div class="form-group">
                      <%= f.label :district_id, "Quel est votre quartier ?" %><br/>
                      <%= f.select :district_ids,[["Aiguelongues", 1], ['Arceaux', 2], ['Boutonnet', 3], ['Croix-d argent', 4], ['Ecusson', 5], ['Euromédecine', 6], ['Figuerolles', 7], ['Gambetta', 8], ['Hauts de Massane', 9], ['Hopitaux Facultés', 10], ['Malbosc', 11],['Nouveau Saint-Roch', 12], ['Odysseum', 13], ['Port Marianne', 14], ['Tournezy', 15]], {}, { :class => 'form-control form-control-lg' }%>
                    </div>
                    <div class="form-group">
                    <%= f.label :living_space, "De combien d'espace habitable disposez vous ?" %>
                    <%= f.number_field :living_space, in: 25...1000, autofocus: true, autocomplete: "living_space", class: "form-control", placeholder: "Donner votre surface en m2" %>
                  </div>
                    <div class="form-group">
                    <%= f.label :price, "Quel est votre prix ?" %>
                    <%= f.number_field :price, in: 1...1000, autofocus: true, autocomplete: "price", class: "form-control", placeholder: "Entrer le prix de votre prestation" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :email, "Email" %>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" , placeholder: "Entrer votre email" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> caractères minimum)</em>
                    <% end %>
                    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" , placeholder: "Entrer votre mot de passe"%>
                  </div>
                  <div class="form-group">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" , placeholder: "Confirmer votre mot de passe" %>
                  </div>
                </div>
                <div class="actions mt-5">
                  <%= f.submit "Inscription", class: "btn btn-lg btn-primary btn-block" %>
                </div>
              <% end %>
              <%= link_to "Page précédente", :back %> <br/>
              <%= link_to "Page d'accueil", root_path %>
              </div>
            </div>
        <!-- right -->
        <div class="col-12 col-md-5 col-lg-4 d-md-flex align-items-center bg-grad h-sm-110-vh">
          <div class="w-100 p-3 p-lg-5 all-text-white">
            <div class="justify-content-center align-self-center">
              <%= link_to root_path do %>
              <div class="logo-auth; m-4">
                <%= image_tag "logos/LogoGardien.png", :class => "img_logo"%>
                <%= image_tag "logos/TitreGardien.png", :class => "img_logo"%>
              </div>
              <%end%>
            </div>
            <h3 class="font-weight-light">Connectez-vous pour gérer votre profil de pet sitter</h3>
            <ul class="list-group list-group-borderless mt-4">
              <li class="list-group-item text-white"><i class="fa fa-check"></i>Gérer votre profil</li>
              <li class="list-group-item text-white"><i class="fa fa-check"></i>Voir vos demandes de garde d'animaux</li>
              <li class="list-group-item text-white"><i class="fa fa-check"></i>Et valider vos demandes</li>
            </ul>
          </div>
        </div>
      </div>
  </section>
</body>
</html>
