<div class="left pt-1 mr-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 align-self-center">
        <h4>Bienvenue sur ma page !</h4>
      </div>
    </div>
  </div>
</div>
<br>
<div class="divider divider-grad"></div><br>

<h5 class="display-6 display-4 font-weight-normal cd-headline clip clip-dark big-clip is-full-width">
  <span class="pt-0 h5">
    <p><span class= "font-weight-bold">Nom : </span> <%= @petsitter.first_name %> <%= @petsitter.last_name %></p>
    <% if current_petowner %>
      <% if current_petowner.id == booking_validate %>
        <p><span class= "font-weight-bold">Numéro de télephone :</span><%= @petsitter.phone_number %> <%= @petsitter.last_name %></p>
        <p><span class= "font-weight-bold">Email :</span><%= @petsitter.email %></p>
      <% end %>
    <% end %>
  </span><br>
  <span class="pt-0">Je vous propose de garder vos:</span><br>
  <span class="cd-words-wrapper pt-0 text-primary">
    <b class="is-visible">Chiens</b>
    <b>Chats</b>
    <b>Tarentules</b>
  </span>
</h5>
<div class="col-md-12 mb-4">
  <blockquote class="blockquote grad-line">
    <p class="h5 text-light-gray mb-4 font-weight-normal"><%= @petsitter.describe %></p>
  </blockquote>
</div>
<% if current_petowner %>
  <%= form_with(url: petsittings_path, method: 'post', local: true) do%>
    <%= hidden_field_tag(name='id', @petsitter.id) %>
    <%= button_tag(type: "submit", class: "btn btn-default") do %>
      <span class="btn btn-info"><i class="fa fa-envelope-o"></i>Contacter</span>
    <% end %>
  <% end %>
<% end %>
<div class="divider divider-grad"></div><br>
<% if current_petsitter %>
  <% if current_petsitter.id == @petsitter.id %>
    <span>
      <p>Il n'y a pas encore d'avatar lié à ce compte !</p>
      <%= form_tag petsitter_avatars_path(@petsitter), multipart: true do %>
        <%= file_field_tag :avatar %>
        <%= button_tag(type: 'submit', class:"btn btn-success") do %>
          <span><i class="fa fa-check-circle-o""></i>Mettre à jour</span>
        <% end %>
      <% end %>
    </span>
  <% end %>
<% end %>
