<section class="blog bg-light">
	<div class="container">
    <%= render 'layouts/flash_alert' %>
    <%= render 'layouts/flash_success' %>
		<div class="row">
			<div class="col-12 col-lg-10 mx-auto">
				<div class="title text-center">
					<h2>Trouver et réserver le Pet sitter de votre choix. </h2>
					<p>Mais vous pouvez également visiter son profil avant. ;)</p>
				</div>
			</div>
		</div>

		<!-- NARBAR RECHERCHE PAR QUARTIER -->
		<div class="form-inline justify ml-3">
			<%= form_with( method: 'get') do %>
				<%= select_tag(:district_choosen, options_from_collection_for_select(@districts, :id, :district_name), class:"custom-select select-big mb-3")%>
				<%= button_tag(type: "submit", class: "btn btn-default") do %>
					<span class="btn btn-grad">Filtrer</span>
				<% end %>
			<% end %>
		</div>

    <!-- CARDS -->
		<section class="blog-page pb-0">
		<div class="container">
		<div class="container" id='card_petsitters'>
    	<%= render 'card_petsitters' %>
		</div>
		</div>
		</section>
	</div>

</section>

<%= render "layouts/button_back_index"%>
