
<div class="blog bg-light">
	<div class="container" >
		<div class="row">
			<div class="col-12 col-lg-10 mx-auto mt-6">
				<div class="title text-center">
					<h3>Trouvez et réservez le Pet Sitter de votre choix. </h3>
				</div>
			</div>
		</div><br>

		<br><div class="divider"><i class="ti-info-alt"></i> </div><br><br>
		<div class="row">
			<div class="col-md-4 mt-4">
				<div class="feature-box f-style-4 h-100 icon-grad">
					<div class="feature-box-icon"><i class="ti-search"></i></div>
					<h3 class="feature-box-title">Recherchez</h3>
					<p class="feature-box-desc">Trouvez le Pet Sitter de votre choix dans le quartier le plus proche de chez vous ! N'hésitez pas à consulter leur profil !</p>
				</div>
			</div>
			<div class="col-md-4 mt-4">
				<div class="feature-box f-style-4 h-100 icon-grad">
					<div class="feature-box-icon"><i class="ti-comments-smiley"></i></div>
					<h3 class="feature-box-title">Discutez</h3>
					<p class="feature-box-desc">Après avoir cliqué sur "Contacter", échangez avec votre pet sitter pour convenir des dates de gardiennages et du prix en contrepartie !</p>
				</div>
			</div>
			<div class="col-md-4 mt-4">
				<div class="feature-box f-style-4 h-100 icon-grad">
					<div class="feature-box-icon"><i class="ti-thumb-up"></i></div>
					<h3 class="feature-box-title">C'est parti !</h3>
					<p class="feature-box-desc">Votre petite boules de poiles est entre de bonnes mains</p>
				</div>
			</div>
		</div>
		<br><br><div class="divider mb-5"><i class="ti-search"></i> </div>


		<div id="flash_position"></div>

		<!-- NARBAR RECHERCHE PAR QUARTIER -->
		<div class="form-inline justify ml-3">
			<%= form_with( method: 'get') do %>
				<%= select_tag(:district_choosen, options_from_collection_for_select(@districts, :id, :district_name), class:"custom-select select-big mb-3")%>
				<%= button_tag(type: "submit", class: "btn btn-default") do %>
					<span class="btn btn-grad">Filtrer</span>
				<% end %>
			<% end %>
		</div>

    <!-- CARDS -->
		<div class="container" id='card_petsitters'>
    	<%= render 'card_petsitters' %>
		</div>
	</div>
</div>

<%= render "layouts/button_back_index"%>
