<section class="blog bg-light">
	<div class="container">
    <%= render 'layouts/flash_alert' %>
    <%= render 'layouts/flash_success' %>
		<div class="row">
			<div class="col-12 col-lg-10 mx-auto">
				<div class="title text-center">
					<h2>Trouver et réserver le Pet sitters de votre choix. </h2>
					<p>Mais vous pouvez également visiter son profil avant. ;)</p>
				</div>
			</div>
		</div>

		<!-- NARBAR RECHERCHE PAR QUARTIER -->
		<div class="form-group">
			<label>Rechercher par quartiers:</label>
			<select class="custom-select select-big mb-3">
				<option selected="">Montpellier</option>
				<% @districts.each_with_index do |district, index| %>
				<option value="location<%= index + 1 %>"><%= district.district_name %></option>
				<% end %>
			</select>
		</div>

    <!-- CARDS -->
    <%= render 'card_petsitters' %>
  </div>

	<div class="d-flex justify-content-center mt-3">
	  <%= link_to root_path do%>
	    <span class="btn btn-button btn-dark"><i class="fa fa-angle-double-left"></i> RETOUR ACCUEIL</span>
	  <% end %>
	</div>
</section>
