
<br><br><br>
<section class="p-0 position-relative ">
  <div class="container-fluid d-flex h-100 w-100">
    <div class="row justify-content-between align-items-center w-100">
      <!-- banner image -->
      <div class="col-md-5 d-none d-md-block p-0 ">
        <figure class="w-100 ie-height-900">
          <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 881.8 917.9" style="enable-background:new 0 0 881.8 917.9;" xml:space="preserve">
            <path id="XMLID_6_" fill="url(#BgGradient)" d="M0,39.6c0,0,171-121.5,264,64.5s508.5,178.5,508.5,178.5s240-6-6,228S816,755.1,657,830.1
              s-309,106.5-445.5,76.5C75,876.6,0,717.6,0,717.6V39.6z"/>
              <path id="XMLID_5_" class="fill-dark" d="M0,291.1c0,0,133.5-100.5,169.5,91.5s103.5,204,81,283.5S0,832.6,0,832.6V291.1z"/>
              <g id="XMLID_3_">
                <defs>
                <rect id="XMLID_11_" x="175" y="18" width="650" height="850"/>
                <linearGradient id="BgGradient">
                  <stop class="fill-grad-start" offset="0%"/>
                  <stop class="fill-grad-end" offset="100%"/>
                </linearGradient>
                </defs>
                <clipPath id="XMLID_51_">
                <use xlink:href="#XMLID_11_"  style="overflow:visible;"/>
                </clipPath>
                <g id="XMLID_4_" class="st2">
                  <!-- Set your 650px X 850px image below -->
                  <%= image_tag "" %>
                </g>
              </g>
            </svg>
        </figure>
      </div>

      <!-- banner Content -->
      <div class="col-md-7 offset-lg-1 col-lg-5 mt-5 mt-md-0 mr-auto">
        <h3><strong>— Bienvenu sur ma page !</strong></h3>
        <h5 class="display-6 display-xl-4 font-weight-normal cd-headline clip clip-dark big-clip is-full-width">
          <span class="pt-0 h5">
            <p><strong>Nom :</strong><%= @petsitter.first_name %> <%= @petsitter.last_name %></p>
            <p><strong>Email :</strong><%= @petsitter.email%></p>
            <p><strong>Numéro de téléphone :</strong><%= @petsitter.phone_number%></p>
          </span>
          <span class="pt-0">Je vous propose de garder</span><br>
          <span class="pt-0">vos :</span>
          <span class="cd-words-wrapper pt-0 text-primary">
            <b class="is-visible">Chiens</b>
            <b>Chats</b>
            <b>Tarentules</b>
          </span>
          </h5>
        <p class="h3 text-light-gray mb-4 font-weight-normal"><%= @petsitter.describe %></p>
        <a class="btn btn-grad mr-4 mb-3 mb-sm-0 float-right" href="#">Réserver ici !</a>
      </div>
    </div>
  </div>
</section>
<!--
<div class="container">
  <center>
    <span class="m-4"> <h1>Son profil</h1></span>
  </center>
  <div class="d-flex border flex-column border-primary">
  <div class="d-flex justify-content-around mb-4">
    <span><%= image_tag "" %><h1>PHOTO</h1></span>
    <span>
      <p>Nom :<%= @petsitter.first_name %> <%= @petsitter.last_name %></p>
      <p>Email :<%= @petsitter.email%></p>
      <p>Numéro de téléphone :<%= @petsitter.phone_number%></p>
      <span class= ""> <%= @petsitter.describe %></span>
    </span>
  </div>
  <div class="d-flex justify-content-around">
    <span><h1>PORTFOLIO</h1></span>
    <span>

      <div class="modal-footer mt-auto p-2 bd-highligh justify-content-between">
        <span class="badge badge-pill badge-warning  pt-2"><h5><%= @petsitter.price %> €/jours</h5></span>
          <%= button_tag(type: "submit", class: "btn btn-default") do %>
            <span class="btn btn-button btn-info"><i class="fas fa-cart-arrow-down pr-2"></i>Réserver</span>
          <% end %>
          <%= button_tag(type: "submit", class: "btn btn-default") do %>
            <span class="btn btn-button btn-secondary"><i class="fas fa-cart-arrow-down pr-2"></i> Contacter</span>
        <% end %>
      </div>

    </span>
  </div>

  <%= button_tag(type: "submit", class: "btn btn-default") do %>
    <span class="btn btn-button btn-primary"><i class="fas fa-cart-arrow-down pr-2"></i> RETOUR </span>
<% end %>
</div>
-->
