<section class="team social-hover team-overlay">
	<div class="container">
		<div class="row">
			<!-- Team item -->
			<div class="col-12 col-sm-3 col-md-3">
				<div class="team-item text-center animated bounce">
					<div class="team-avatar">
						<%= image_tag "team/Poupou.jpeg", class: "team-card" %>
					</div>
					<div class="team-desc">
						<h5 class="team-name">Marine El Adouzi</h5>
						<span class="team-position">Préfère les chats</span>
						<p>I am temporibus voluptatem odio odit ratione perferendis explicabo!</p>
						<ul class="social-icons si-colored-on-hover">
							<li class="social-icons-item social-twitter"><%= link_to "https://twitter.com/meladouz", class:"social-icons-link" do%><i class="fa fa-twitter fa-2x"></i><%end%></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Team item -->
			<div class="col-12 col-sm-3 col-md-3">
				<div class="team-item text-center animated bounce ">
					<div class="team-avatar">
						<%= image_tag "team/Maya.jpeg" , class: "team-card"%>
					</div>
					<div class="team-desc">
						<h5 class="team-name">Paul Hennin</h5>
						<span class="team-position">Préfère les chats</span>
						<p>Expert in temporibus voluptatem odio odit ratione perferendis explicabo!</p>
						<ul class="social-icons si-colored-on-hover">
							<li class="social-icons-item social-instagram"><%= link_to "https://instagram.com/paul_aux_mangas", class:"social-icons-link" do%><i class="fa fa-instagram fa-2x"></i><%end%></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Team item -->
			<div class="col-12 col-sm-3 col-md-3">
				<div class="team-item text-center animated bounce ">
					<div class="team-avatar">
						<%= image_tag "team/nola.jpeg", class: "team-card" %>
					</div>
					<div class="team-desc">
						<h5 class="team-name">Jordi Le Guet</h5>
						<span class="team-position">Préfère les chats</span>
						<p>Have more then 8 years temporibus voluptatem odio odit ratione perfere!</p>
						<ul class="social-icons si-colored-on-hover">
							<li class="social-icons-item social-twitter"><%= link_to "https://twitter.com/YorudeO", class:"social-icons-link" do%><i class="fa fa-twitter fa-2x"></i><%end%></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Team item -->
			<div class="col-12 col-sm-3 col-md-3">
				<div class="team-item text-center animated bounce ">
					<div class="team-avatar">
						<%= image_tag "team/Neji.jpeg", class: "team-card" %>
					</div>
					<div class="team-desc">
						<h5 class="team-name">Terence Le Guet</h5>
						<span class="team-position">Préfère les chiens</span>
						<p>With more then temporibus voluptatem odio odit ratione perferendis!</p>
						<ul class="social-icons si-colored-on-hover">
							<li class="social-icons-item social-twitter"><%= link_to "https://twitter.com/TT81269634", class:"social-icons-link" do%><i class="fa fa-twitter fa-2x"></i><%end%></li>
						</ul>
					</div>
				</div>
			</div>
    </div>
  </div>
</section>
