<div class="tab-pane show active" id="tab-8-1">
  <div class="col-sm-12 mb-5">
    <div class="table-responsive-sm">
      <table class="table table-lg table-noborder table-striped">
        <thead class="all-text-white bg-grad">
          <tr class="text-white">
            <th scope="col">Petsitter</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Mail</th>
            <th scope="col">Réservation</th>
            <th scope="col"> </th>
          </tr>
        </thead>

        <tbody>
          <!-- methode my_petsitters => helper -->
          <% @bookings_petowner.each do |booking|%>
            <% if booking.validate_petowner == false%>
              <tr id="booking-f-<%= booking.id %>">
                <!-- VERIFICATION SI LE PETSITTERS EXISTE TOUJOURS EN BASE DE DONNÉES -->
                <% if petsitter_exists(booking.id) == false %>
                  <th scope="row"> <%= booking.petsitter_id%> </th>
                  <td><%= my_petsitters(booking.petsitter_id).first_name%> </td>
                  <td><%= my_petsitters(booking.petsitter_id).last_name%> </td>
                  <td><%= my_petsitters(booking.petsitter_id).email%> </td>
                  <td>Validé le <%= booking.updated_at.strftime("%d-%m-%Y")%></td>
                  <td class=d-inline-block">

                    <%= link_to petsitter_path(booking.petsitter_id) do %>
                      <span class="btn btn-outline-light text-white">Profile de <%= my_petsitters(booking.petsitter_id).first_name%></span>
                    <%end%>
                    <% if booking.validate_petsitter == true %>
                      <%= form_with(url: petsitting_path(booking.id), method:'patch', remote: true) do%>
                        <%= button_tag(type: "submit", class: "btn btn-default") do %>
                          <span class="btn btn-outline-light text-white">Confirmer la demande</span>
                        <%end%>
                      <% end %>
                    <% else %>
                      <span class="btn btn-secondary text-white">En attente</span>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
