
<br><br><br>
<section class="p-0 position-relative ">
  <div class="container-fluid d-flex h-100 w-100">
    <div class="row justify-content-between align-items-center w-100">
      <!-- banner image -->
      <div class="col-md-5 d-none d-md-block p-0">
        <figure class="w-100 ie-height-900">
          <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 881.8 917.9" style="enable-background:new 0 0 881.8 917.9;" xml:space="preserve">
            <path id="XMLID_6_" fill="url(#BgGradient)" d="M0,39.6c0,0,171-121.5,264,64.5s508.5,178.5,508.5,178.5s240-6-6,228S816,755.1,657,830.1
              s-309,106.5-445.5,76.5C75,876.6,0,717.6,0,717.6V39.6z"/>
              <path id="XMLID_5_" class="fill-dark" d="M0,291.1c0,0,133.5-100.5,169.5,91.5s103.5,204,81,283.5S0,832.6,0,832.6V291.1z"/>
              <g id="XMLID_3_">
                <defs>
                <rect id="XMLID_11_" x="175" y="18" width="650" height="850"/>
                <linearGradient id="BgGradient">
                  <stop class="fill-grad-start" offset="0%"/>
                  <stop class="fill-grad-end" offset="100%"/>
                </linearGradient>
                </defs>
                <clipPath id="XMLID_51_">
                <use xlink:href="#XMLID_11_"  style="overflow:visible;"/>
                </clipPath>
                <g id="XMLID_4_" class="st2">
                </g>
              </g>
            </svg>
        </figure>
      </div>

      <!-- banner Content -->
      <div class="col-md-7 offset-lg-1 col-lg-5 mt-5 mt-md-0 mr-auto">
        <h3><strong>— Mon profil !</strong></h3>
        <h5 class="display-6 display-xl-4 font-weight-normal cd-headline clip clip-dark big-clip is-full-width">
          <span class="pt-0 h5">
            <p><strong>Nom : </strong><%= @petowner.first_name %> <%= @petowner.last_name %></p>
            <p><strong>Email : </strong><%= @petowner.email%></p>
            <p><strong>Numéro de téléphone : </strong><%= @petowner.phone_number%></p>
            <p><strong>Animal : </strong><%= @petowner.phone_number%></p>
          </span>
          </h5>
        <p class="h3 text-light-gray mb-4 font-weight-normal"><%= @petowner.describe %></p>
        <%= link_to petsitters_path do%>
          <span class="btn btn-button btn-grad float-right"><i class="fa fa-address-book fa-2x"></i>Faire une réservation</span>
        <% end %>
        <span>
          <p>=== Il n'y a pas encore d'avatar lié à ce compte ! ===</p>
        </span>
      </div>
    </div>

  </div>

</section>
<div class="container">

  <div class="col-sm-12">
		<h5 class="text-center mb-4">Historique des réservations</h5>
		<div class="table-responsive-sm">
			<table class="table table-striped table-dark">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nom</th>
						<th scope="col">Durée</th>
						<th scope="col">Date</th>
            <th scope="col">Prix</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
            <td>@mdo</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@fat</td>
            <td>@mdo</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
            <td>@mdo</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<br><br>
<div class="d-flex justify-content-center mt-3">

  <%= link_to petsitters_path do%>
    <span class="btn btn-button btn-dark"><i class="fa fa-angle-double-left"></i> RETOUR</span>
  <% end %>
</div>
