<%= render 'layouts/flash_alert' %>
<%= render 'layouts/flash_success' %>
<div class="p-0 position-relative mt-3 mb-6 res">
  <div class="d-flex h-100 w-100">
    <div class="row justify-content-around w-100 ">
      <div class="col-sm-12 col-md-6">
        <ul class="nav nav-tabs tab-line">
          <li class="nav-item ml-2"> <a class="nav-link active" data-toggle="tab" href="#tab-3-1">Profil</a> </li>
          <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab-3-2">Mes animaux</a> </li>
          <% if current_petowner %>
          <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab-3-3">Mes réservations</a> </li>
          <% end %>
        </ul>
        <div class="tab-content">

          <!-- Profile Part ! -->
          <%= render 'profil' %>

          <!-- Pets Part ! -->
          <%= render 'my_pets' %>

          <!-- Reservations Part ! -->
          <%= render 'bookings' %>
        </div>
      </div>

      <!-- banner image -->
      <div class="col-md-5 d-none d-md-block p-0 ">
        <figure class="w-100 ie-height-900 position-absolute figure-petowner">
          <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 881.8 917.9" style="enable-background:new 0 0 881.8 917.9;" xml:space="preserve">
            <path id="XMLID_6_" fill="url(#BgGradient)" d="M0,39.6c0,0,171-121.5,264,64.5s508.5,178.5,508.5,178.5s240-6-6,228S816,755.1,657,830.1
              s-309,106.5-445.5,76.5C75,876.6,0,717.6,0,717.6V39.6z"/>
              <path id="XMLID_5_" class="fill-dark" d="M0,291.1c0,0,133.5-100.5,169.5,91.5s103.5,204,81,283.5S0,832.6,0,832.6V291.1z"/>
              <g id="XMLID_3_">
                <defs>
                <rect id="XMLID_11_" x="175" y="18" width="650" height="850"/>
                <linearGradient id="BgGradient">
                  <stop class="fill-grad-start" offset="0%"/>
                  <stop class="fill-grad-end" offset="100%"/>
                </linearGradient>
                </defs>
                <clipPath id="XMLID_51_">
                <use xlink:href="#XMLID_11_"  style="overflow:visible;"/>
                </clipPath>
              </g>
            </svg>
        </figure>
        <span class="position-relative form-style">
          <%if @petowner.avatar.attached?%>
            <%= image_tag @petowner.avatar, alt: 'avatar' , class:'shadow-lg avatar-img '%>
          <%else%>
         <%end%>
       </span>
      </div>
    </div>
  </div>
</div>

<%= render "layouts/button_back_index"%>
