<div class="text-center bg-overlay-dark-4" style="background:url(/assets/index/petsiting-86930169fc8eec291979644f93a22f46c33d16a3e76009f726a0d91132e71a85.jpg) no-repeat; background-size: cover; background-position: right 45% bottom 56%;">
		<div class="container">
			<div class="row all-text-white">
				<div class="col-md-12 align-self-center">
					<h6 class="display-6 mt-9 mb-0">Appelez-nous au +334 01 20 03 40</h6>
					<h1 class="font-weight-bold display-4 display-md-1 mb-2 mb-md-n4">Nous contacter</h1>
				</div>
			</div>
		</div>
	</div>
  <%= render 'layouts/flash_send' %>
	<section class="contact-page">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 mx-auto">
					<div class="title text-center">
						<h2>En quoi pouvons-nous vous aider ?</h2>
						<p>Toute l'équipe d'Un gardien près de chez soi vous répondra dans les meilleurs délais</p>
					</div>
				</div>
			</div>
			<div class="row ">
				<div class="col-md-3 mb-5">
					<div class="contact-box h-100 bg-overlay-dark-7 px-3 py-4" style="background:url(/assets/index/trust2-9ec8caaf3b38dbc15bb3cb2db9ec23c758be323fe1b9f904e97f28e11286932e.jpg) no-repeat; background-size: cover; background-position: center center; ">
						<!-- Phone -->
						<div class="contact-info all-text-white">
							<div class="contact-box-icon"><i class="ti-map-alt"></i></div>
							<h5 class="mb-2">Adresse</h5>
							<p>L'Anacrouse, 34000 Montpellier</p>
						</div>
						<!-- Email -->
						<div class="contact-info all-text-white">
							<div class="contact-box-icon"><i class="ti-email"></i></div>
							<h5 class="mb-2">E-mail</h5>
							<p>help@wizixo.com</p>
						</div>
						<!-- Phone -->
						<div class="contact-info all-text-white">
							<div class="contact-box-icon"><i class="ti-panel"></i></div>
							<h5 class="mb-2">Téléphone</h5>
							<p>+334 01 20 03 40</p>
						</div>
					</div>
				</div>
				<!-- google map -->
				<div class="col-md-3 mb-5">
					<div class="h-100">
						<div class="contact-map o-hidden">
							<div class="map-wrapper" id="map-dark" data-lat="43.6105009" data-lng="3.87441793" data-string="L'Anacrouse, 5, Place du Petit Scel, Montpellier 34000" data-zoom="15">
              </div>
						</div>
					</div>
				</div>
				<!-- contact form -->
				<div class="col-md-6">
					<div class="h-100">
						<h3>Une suggestion pour le site ?</h3>
						<p>Le formulaire ci-dessous nous permettra de rester en contact !</p>
							<div class="row">
								<div class="col-12">
									<div class="alert alert-success contact-msg" style="display: none" role="alert">
										Votre message a bien été envoyé.
									</div>
								</div>
							</div>
						<%= form_for(@contact) do |f| %>
							<% if @contact.errors.any? %>
    							<div id="error_explanation">
      							<h3><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
      							<ul>
							<% @contact.errors.full_messages.each do |msg| %>
        							<li><%= msg %></li>
							<% end %>
      							</ul>
    							</div>
							<% end %>
							<div class="row">
								<div class="col-md-6">
  								<div class="form-group">
										<%= f.label :Nom %>
										<%= f.text_field :name, class: "form-control", placeholder: "Nom"%>
  								</div>
  							</div>
  							<div class="col-md-6">
  								<div class="form-group">
										<%= f.label :Email %>
										<%= f.text_field :email, class: "form-control", placeholder: "Email" %>
  								</div>
  							</div>
  							<div class="col-md-12">
    							<div class="form-group">
										<%= f.label :Sujet %>
										<%= f.text_field :subject, class: "form-control", placeholder: "Sujet de votre message" %>
  								</div>
  							</div>
  							<div class="col-md-12">
  								<div class="form-group">
										<%= f.label :Message %>
										<%= f.text_area :message, class: "form-control", placeholder: "Ecriver votre message" %>
  								</div>
  								<div class="actions">
										<%= f.submit "Envoyer votre message", class: "btn btn-lg btn-dark btn-block" %>
  								</div>
									<% end %>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="pt-0">
		<div class="container ">
			<div class="row justify-content-md-center">
				<div class="col-md-4 text-center">
					<h5 class="mb-1"> Communication</h5>
					<p>Pour toute demande, incluant des partenariats professionnels, nous contacter par mail: <%= mail_to 'ungardienpresdechezsoi@gmail.com'%></p>
				</div>
			</div>
		</div>
	</section>
  	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtF5lHSU7Y7c2BYl_c4-G9bSi44h1X9Ls"></script>
