<body>
<!-- =======================
Banner -->
  <div class="innerpage-banner center bg-overlay-dark-7 py-7" style="background:url(https://images.pexels.com/photos/787876/pexels-photo-787876.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat; background-size:cover; background-position: center center;">
    <div class="container">
      <div class="row all-text-white">
        <div class="col-md-12 align-self-center">
          <h1 class="innerpage-title">Les associations d'aide aux animaux <br> sur Montpellier</h1>
        </div>
      </div>
    </div>
  </div>
<!-- =======================
Banner -->

<!-- =======================
Title -->
  <section class="service pt-0 mt-6">
  	<div class="container">
  		<div class="row">
  			<div class="col-12 col-lg-8 mx-auto">
  				<div class="title text-center">
  					<span class="pre-title"></span>
  					<h3 class=" pre-title">Pour trouver des informations utiles concernant vos animaux de compagnies ou alors un nouveau compagnon à 4 pattes à adopter ! </h3>
  				</div>
  			</div>
  		</div>
    </div>
  </section>
<!-- =======================
Title -->

  <!-- =======================
  Portfolio -->
  <section class="portfolio pb-0 mb-6">
    <div class="container">
      <div class="row">
        <div class="col-md-12 p-0">
          <div class="portfolio-wrap grid items-4 items-padding">
            <% @associations.each do |asso| %>
              <!-- associations-card -->
              <div class="portfolio-card isotope-item">
                <%= link_to association_path(asso) do %>
                  <div class="portfolio-card-body">
                    <div class="portfolio-card-header">
                      <%= image_tag "associations/logo_pattounes.jpg", class: 'rounded'%>
                    </div>
                    <div class="portfolio-card-footer">
                      <h5 class="text-muted"> <%= asso.name%> </h5>
                    </div>
                  </div>
                <%end%>
              </div>
            <% end %>
          </div>
          <!-- portfolio wrap -->
        </div>
      </div>
    </div>
  </section>
  <!-- =======================
  Portfolio -->

<!-- =======================
  Banner contact asso -->
  <section class="blog bg-light">
  	 <%= render "associations/contactassobanner"%>

      <!-- =======================
      Btn back index -->
      <div class="d-flex justify-content-center mt-6 mb-4">
        <%= link_to root_path do %>
        <div class="btn btn-button btn-dark">
          <i class="fa fa-angle-double-left"></i> Retour Accueil
        </div>
        <% end %>
      </div>
      <!-- Btn back index
      ======================= -->
  </section>
<!--   Banner contact asso
======================= -->





</body>
