<!DOCTYPE html>
<html lang="en">
<head>
  <title>Un gardien pret de chez soi | Changez votre mot de passe</title>
  <meta charset="utf-8">
</head>

<body>
  <div class="preloader">
  </div>
  <section class="p-0 d-flex align-items-center">
    <div class="container-fluid">
      <div class="row">
        <!-- left -->
        <div class="col-12 col-md-5 col-lg-4 d-md-flex align-items-center bg-grad h-sm-100-vh">
          <div class="w-100 p-3 p-lg-5 all-text-white">
            <div class="justify-content-center align-self-center">
              <%= link_to root_path do %>
              <div class="logo-auth; m-4">
                <%= image_tag "logos/LogoGardien.png", :style => "height: 55px;"%>
                <%= image_tag "logos/TitreGardien.png", :style => "height: 55px;"%>
              </div>
              <%end%>
            </div>
            <h3 class="font-weight-light">Connectez-vous pour gérer votre profil de membre</h3>
            <ul class="list-group list-group-borderless mt-4">
              <li class="list-group-item text-white"><i class="fa fa-check"></i>Gérer votre profil</li>
              <li class="list-group-item text-white"><i class="fa fa-check"></i>Voir les profils des pet sitters</li>
              <li class="list-group-item text-white"><i class="fa fa-check"></i>Et voir vos demandes de garde pour vos animaux</li>
          </div>
        </div>
        <div class="col-12 col-md-7 col-xl-8 mx-auto my-5">
          <div class="row h-100">
            <div class="col-12 col-md-10 col-lg-5 text-left mx-auto d-flex align-items-center">
              <div class="w-100">
                <div class="bdi">
                  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form-signin mt-3" }) do |f| %>
                        <%= render "devise/shared/error_messages", resource: resource %>
                        <%= f.hidden_field :reset_password_token %>

                        <div class="form-group">
                          <%= f.label :password, "Nouveau mot de passe", class: "h3 mb-3 font-weight-normal text-center" %><br />
                          <% if @minimum_password_length %>
                            <em>(<%= @minimum_password_length %> caractères minimum)</em><br />
                          <% end %>
                          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" , placeholder: "Entrer votre nouveau mot de passe" %>
                        </div>

                        <div class="form-group">
                          <%= f.label :password_confirmation, "Confirmer votre nouveau mot de passe" %><br />
                          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" , placeholder: "Verifiez votre nouveau de mot de passe" %>
                        </div>

                        <div class="actions mt-5">
                          <%= f.submit "Valider nouveau mot de passe", class: "btn btn-lg btn-primary btn-block"%>
                        </div>
                    <% end %>
                    <br>
                    <%= render "petowners/shared/links" %>
                    <%= link_to "Page précédente", :back %> <br/>
                    <%= link_to "Page d'accueil", root_path %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
