<div class="modal fade text-left" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Entrer les informations concernant votre animal.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with model: Organization.new, local: true do |form| %>
          <div class="form-group">
            <label>Nom de l'association :</label>
            <%= form.text_field :name, class: "form-control"%>
          </div>
          <div class="form-group">
            <label>Date de création :</label>
            <%= form.date_field :date_of_birth, class: "form-control"%>
          </div>
          <div class="form-group">
            <label>Contact mail :</label>
            <%= form.email_field :email, class: "form-control"%>
          </div>
          <div class="form-group">
            <label>Page facebook :</label>
            <%= form.url_field :facebook_url, class: "form-control"%>
          </div>
          <div class="form-group">
            <label>Page de don ? </label>
            <%= form.url_field :donation_url, class: "form-control"%>
          </div>
          <div class="form-group">
            <label> Description de l'association :</label>
            <%= form.text_area :describe, class: "form-control", placeholder: "Ecrivez votre description (max 250 mots)"%>
          </div>
          <div class="modal-footer">
            <p><button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button></p>
            <p><%= form.submit "Envoyer", class: "btn btn-primary" %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
