<body>
<%= render "organizations/banner_show"%>

  <section class="position-relative bg-light">
    <div class="container ">
      <div class="row" >
        <div class="col-2 col-md-4" >
          <%= image_tag @association.image_tag, class: 'rounded shadow' %>
        </div>
        <div class="col-8 col-md-8 left pt-7 mb-4">
          <div class="row all-text-white">
            <div class="col-md-12 align-self-center">
              <p class="text-primary display-8 mb-0">Association</p>
              <p class="text-dark display-4"><%= @association.name %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="divider mt-6 mb-4"><i class="ti-heart"></i> </div>
        <div class="row">
          <div class="col-sm-12 col-lg-12 align-self-center">
				    <div class="text-center pb-4 p-lg-0 ">
              <h2><%= @association.describe_short %></h2>
				    </div>
          </div>
        </div>
      </div>
    <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block ie-d-none mb-n3">
		  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
			<path id="XMLID_4_" class="fill-white" d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"/>
		  </svg>
	  </figure>
  </section>

  <section>
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-12">
          <h2>Notre association a été créée en
            <span class="text-primary">
              <%= @association.date_of_birth %>
            </span>
          </h2>
          <h4 class="lead"> <%= @association.describe %></h4>
        </div>
      </div>
		<div class="divider"><i class="ti-heart"></i></div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row justify-content-between align-items-center">
        <!-- left side -->
      <div class="col-md-6">
        <div class="row mt-4 mt-md-0">
          <div class="col-5 offset-1 px-2 mb-3 align-self-end">
            <div data-wow-duration="0.8s" data-wow-delay="0.4s">
              <%= image_tag "associations/cat1.jpeg", class: 'border-radius-3 wow fadeInUp association-img'  %>
            </div>
          </div>
        <div class="col-6 px-2 mb-3">
          <div class="border-radius-3 wow fadeInLeft bg-grad p-2 p-sm-3 p-lg-4 p-xl-5 all-text-white" data-wow-duration="0.8s" data-wow-delay="0s">
            <h4 class="font-weight-bold">
              <%= @association.actions %>
            </h4>
          </div>
        </div>
        <div class="col-7 px-2 mb-3">
          <div class="border-radius-3 wow fadeInLeft bg-grad p-2 p-sm-3 p-lg-4 p-xl-5 all-text-white" data-wow-duration="0.8s" data-wow-delay="0s">
            <h3 class="font-weight-bold">
              <%= @association.actions_2 %>
            </h3>
          </div>
        </div>
        <div class="col-5 align-self-start pl-2 mb-3">
          <div data-wow-duration="0.8s" data-wow-delay="0.4s">
            <%= image_tag "associations/cat2.jpeg", class: 'border-radius-3 wow fadeInUp association-img' %>
          </div>
        </div>
      </div>
    </div>
        <!-- right side -->
    <div class="col-md-6 pl-lg-5">
      <blockquote class="blockquote primary-line">
        <h3 class="mb-2 "> "On n'a pas deux coeurs, l'un pour l'homme, l'autre pour l'animal. On a un coeur ou on n'en a pas."</h3>
          <cite>– Alphonse De Lamartine</cite>
      </blockquote>
        <div class="d-flex float-right m-4">
          <h2>Vous voulez <span class="text-primary"> participer</span> à notre action ? </h2>
        </div>
  <%= form_tag charges_path do %>
  <div id="error_explanation">
    <% if flash[:error].present? %>
      <p><%= flash[:error] %></p>
    <% end %>
  </div>
  <article>
    <%= label_tag(:amount, 'Montant de votre donation:') %>
    <%= number_field_tag(:amount, "", class: 'form-control', placeholder: "Indiquer le montant") %>
  </article>
  <article>
    <%= hidden_field_tag(:stripeToken) %>
    <%= hidden_field_tag(:association, params[:id]) %>
    <% if current_petowner %>
    <%= hidden_field_tag(:id_petowner, current_petowner.id) %>
    <% else current_petsitter %>
    <%= hidden_field_tag(:id_petsitter, current_petsitter.id) %>
    <%end%>
  </article>
  <button id='donateButton' class="btn btn-lg btn-grad">Donate</button>
<% end %>

    <script src="https://checkout.stripe.com/checkout.js"></script>

<script>
var handler = StripeCheckout.configure({
  key: '<%= Rails.configuration.stripe[:publishable_key] %>',
  locale: 'auto',
  name: 'Donation pour :',
  description: '<%= @association.name %>',
  token: function(token) {
    $('input#stripeToken').val(token.id);
    $('form').submit();
  }
});

      $('#donateButton').on('click', function(e) {
  e.preventDefault();

  $('#error_explanation').html('');

  var amount = $('input#amount').val();
  amount = amount.replace(/\$/g, '').replace(/\,/g, '')

  amount = parseFloat(amount);

  if (isNaN(amount)) {
    $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
  }
  else if (amount < 5.00) {
    $('#error_explanation').html('<p>Donation amount must be at least $5.</p>');
  }
  else {
    amount = amount * 100; // Needs to be an integer!
    handler.open({
      amount: Math.round(amount)
    })
  }
});
    </script>
  </div>
</section>

<div class="mb-6">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="divider mb-4">
                </div>
                <div class="row">
                    <div class="tags col-12 col-sm-8 text-center text-sm-left">
                        <h3 class="text-muted">Nous contacter </h3>
                    </div>
                        <div class="col-12 col-sm-4 text-center text-sm-right">
                            <ul class="social-icons si-colored-bg light">
                                <%= link_to  @association.facebook_url do %>
                                    <li class="social-icons-item social-facebook mb-0">
                                        <span class="social-icons-link"><i class="fa fa-facebook-f fa-lg"></i>
                                        </span>
                                    </li>
                                <%end%>
                                <%= mail_to @association.email do %>
                                    <li class="social-icons-item social-youtube mb-0">
                                        <span class="social-icons-link"><i class="fa fa-at fa-lg"></i>
                                        </span>
                                    </li>
                                <%end%>
                            </ul>
                        </div>
                    </div>
                    <div class="divider mt-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="mb-6">
  <%= render "layouts/button_back_index"%>
</div>

</body>
