<!DOCTYPE html>
<html>
  <head>
    <title>Ungardienpresdechezsoi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900%7CPlayfair+Display:400,400i,700,700i%7CRoboto:400,400i,500,700" rel="stylesheet">
        <link rel="icon" type="image/png" href="https://active-storage-thp-cat.s3-us-west-1.amazonaws.com/photo+en+vente/cat(1).png" />
  </head>

  <body>
    <% unless devise_controller? %>
      <%= render "layouts/navbar" %>
     <% end %>
    <%= yield %>
  </body>
  <% unless devise_controller? %>
    <%= render "layouts/footer" %>
  <% end %>

  <%= render "layouts/button_back_to_top"%>

</html>
