<!DOCTYPE html>
<html>
  <head>
    <title>Ungardienpretdechezsoi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900%7CPlayfair+Display:400,400i,700,700i%7CRoboto:400,400i,500,700" rel="stylesheet">

  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= yield %>
  </body>
  <%= render "layouts/footer" %>

</html>
